body {
  font-family: Arial, sans-serif;
  background-image: url('./world.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  margin: 0;
}
h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 900;
}
h2 {
  margin: 15px auto;
  font-size: 18px;
  font-weight: 700;
}

p {
  margin: 15px auto;
}
